div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: #7077a1;
}
body {
  background-color: #191919;
}
.plus {
  width: 100px;
  height: 100px;
  border-color: #bed754;
  border-radius: 20%;
  background-color: #bed754;
  color: black;
}
.minus {
  width: 100px;
  height: 100px;
  border-color: #750e21;
  border-radius: 20%;
  background-color: #750e21;
  color: black;
}
.btns {
  height: 150px;
  width: 250px;
  flex-direction: row;
  justify-content: space-between;
}
